In [1]:
import pandas as pd
import logging

logging.basicConfig(level=logging.INFO)

In [2]:
url = 'https://id.wikipedia.org/wiki/Daftar_miliarder_Forbes'

In [3]:
def scrape(url):
    logging.info(f"Scraping website with url: '{url}'...")
    return pd.read_html(url,header=None)

In [9]:
df_forbes = scrape(url)[1]

INFO:root:Scraping website with url: 'https://id.wikipedia.org/wiki/Daftar_miliarder_Forbes'...

In [10]:
df_forbes['No'] = df_forbes.index+1
df_forbes = df_forbes[['No', 'Nama', 'Kekayaan bersih (USD)', 'Usia', 'Kebangsaan', 'Sumber kekayaan']]
df_forbes

,No,Nama,Kekayaan bersih (USD),Usia,Kebangsaan,Sumber kekayaan
0,1,Jeff Bezos,$177 miliar,57,Amerika Serikat,Amazon
1,2,Elon Musk,$151 miliar,49,Amerika Serikat,"Tesla, SpaceX"
2,3,Bernard Arnault & keluarga,$150 miliar,72,Prancis,LVMH
3,4,Bill Gates,$124 miliar,65,Amerika Serikat,Microsoft
4,5,Mark Zuckerberg,$97 miliar,36,Amerika Serikat,Meta Platforms
5,6,Warren Buffett,$96 miliar,90,Amerika Serikat,Berkshire Hathaway
6,7,Larry Ellison,$93 miliar,76,Amerika Serikat,Oracle Corporation
7,8,Larry Page,$91.5 miliar,48,Amerika Serikat,Alphabet Inc.
8,9,Sergey Brin,$89 miliar,47,Amerika Serikat,Alphabet Inc.
9,10,Mukesh Ambani,$84.5 miliar,63,India,Reliance Industries

## CLEANING DATA

In [6]:
import re

In [15]:
def is_money_miliar(string_money):
    return string_money.lower().endswith("miliar")

def transform_money_format(string_money):
    half_clean_string = string_money.lower().replace("$","").replace(",",".").replace(" ","")
    return re.sub(r"[?\[M\]miliar|\[J\]juta]", "", half_clean_string)

def transform(df,tahun):
    logging.info("Transforming DataFrame ...")
    
    columns_mapping = {
        "No" : "nomor_urut",
        "Nama" : "nama",
        "Kekayaan bersih (USD)" : "kekayaan_bersih_usd",
        "Usia" : "umur",
        "Kebangsaan" : "negara",
        "Sumber kekayaan" : "sumber_harta"
    }
    
    renamed_df = df.rename(columns=columns_mapping)
    renamed_df["tahun"] = tahun
    
    renamed_df["kekayaan_bersih_usd_juta"] = renamed_df["kekayaan_bersih_usd"].apply(
        lambda value: float(transform_money_format(value)) * 1000 if is_money_miliar(value) else float(transform_money_format(value))
    )
    
    return renamed_df[["nomor_urut","nama","kekayaan_bersih_usd_juta","umur","negara","sumber_harta"]]

In [16]:
df_forbes_2021 = transform(df_forbes,2021)

INFO:root:Transforming DataFrame ...

In [17]:
df_forbes_2021

,nomor_urut,nama,kekayaan_bersih_usd_juta,umur,negara,sumber_harta
0,1,Jeff Bezos,177000.0,57,Amerika Serikat,Amazon
1,2,Elon Musk,151000.0,49,Amerika Serikat,"Tesla, SpaceX"
2,3,Bernard Arnault & keluarga,150000.0,72,Prancis,LVMH
3,4,Bill Gates,124000.0,65,Amerika Serikat,Microsoft
4,5,Mark Zuckerberg,97000.0,36,Amerika Serikat,Meta Platforms
5,6,Warren Buffett,96000.0,90,Amerika Serikat,Berkshire Hathaway
6,7,Larry Ellison,93000.0,76,Amerika Serikat,Oracle Corporation
7,8,Larry Page,91500.0,48,Amerika Serikat,Alphabet Inc.
8,9,Sergey Brin,89000.0,47,Amerika Serikat,Alphabet Inc.
9,10,Mukesh Ambani,84500.0,63,India,Reliance Industries

## STORING DATA TO DATABASE

In [18]:
pip install psycopg2-binary==2.8.6

Requirement already satisfied: psycopg2-binary==2.8.6 in c:\users\anggo\anaconda3\lib\site-packages (2.8.6)
Note: you may need to restart the kernel to use updated packages.

In [19]:
from sqlalchemy import create_engine

In [20]:
DB_NAME = "postgres"
DB_USER = "user1"
DB_PASSWORD = "user1"
DB_HOST = "104.197.148.144"
DB_PORT = "5432"
CONNECTION_STRING = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
TABLE_NAME = "anggo-peserta_orang_terkaya_forbes"

In [25]:
CONNECTION_STRING

'postgresql://user1:user1@104.197.148.144:5432/postgres'

In [26]:
def write_to_postgres(df,db_name,table_name,connection_string):
    engine = create_engine(connection_string)
    logging.info(f"Writing dataframe to database: '{db_name}', table: '{table_name}' ...")
    df.to_sql(name = table_name, con=engine, if_exists="replace", index=False)

In [ ]:
write_to_postgres(df=df_forbes_2021, db_name=DB_NAME, table_name = TABLE_NAME, connection_string=CONNECTION_STRING)

INFO:root:Writing dataframe to database: 'postgres', table: 'anggo-peserta_orang_terkaya_forbes' ...

## READ DATA FROM DATABASE

In [ ]:
def read_from_postgres(db_name, table_name, connection_string):
    engine = create_engine(connection_string)
    
    logging.info(f"Reading postgres database: '{db_name}', table: '{table_name}' ...")
    return pd.read_sql_table(table_name, con=engine)

In [ ]:
result_df = read_from_postgres(db_name=DB_NAME, table_name=TABLE_NAME, connection_string=CONNECTION_STRING)
result_df